.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #b0afaf !important;
}

.header > #icon {
  display: none;
}

.header > .menuinput {
  display: none;
}

ul > li > a {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), color 0.3s ease;
}

.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 30px;
}

.navbar ul > li > a:hover {
  transform: translateY(-3px);
  color: red;
}

@media screen and (width < 600px) {
  .header > #icon {
    display: block;
    cursor: pointer;
    /* background-color: blue; */
    padding: 5px;
    border-radius: 5px;
    z-index: 1001;
    position: relative;
    /* color: red; */
  }

  .header > .navbar {
    display: none;
    background-color: #9d9fa2;
    width: 140px;
    height: 260px;
    position: absolute;
    top: 55px;
    right: 4px;
    border-radius: 12px;
  }

  .header > #menu:checked ~ .navbar {
    display: flex;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    padding: 0px 12px;
    margin-top: 110px;
  }

  .navbar li {
    width: 150px;
    text-align: center;
  }

  .navbar li a {
    display: block;
    text-decoration: none;
    background-color: #f4f4f4;
    color: black;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 8px;
    margin-right: 30px;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), color 0.3s ease,
      background-color 0.2s ease;
  }

  .navbar li a:hover {
    background-color: #e0e0e0;
    transform: translateY(-3px);
    color: red;
  }
}
